[submodule "references/fast_ring_queue"]
	path = references/fast_ring_queue
	url = https://github.com/dodng/fast_ring_queue.git
[submodule "thread/c/other_threadpool/C-Thread-Pool"]
	path = thread/c/other_threadpool/C-Thread-Pool
	url = https://github.com/Pithikos/C-Thread-Pool.git
[submodule "thread/c/other_threadpool/threadpool"]
	path = thread/c/other_threadpool/threadpool
	url = https://github.com/mbrossard/threadpool.git
